---
import Layout from "../../layouts/Layout.astro";
import Section from "../../components/common/Section.astro";
import PostSnippet from "../../components/PostSnippet.astro";
import { getCollection } from "astro:content";
import { siteConfig } from "../../site.config"
import ContentHeader from "../../components/common/ContentHeader.astro";
import SEO from "../../components/common/SEO.astro";

const config = siteConfig;

const baseUrl = import.meta.env.BASE_URL;

const collectionName = "notes"
const posts = (await getCollection(collectionName)).map((post) => ({
  ...post.data,
  url: `${baseUrl}/${collectionName}/${post.data.slug}`,
}));
---

<Layout>
  <Fragment slot="head">
    <SEO
      title={config.blogMeta.title}
      description={config.blogMeta.description}
      longDescription={config.blogMeta.longDescription}
      keywords={config.blogMeta.keywords}
      cardImage={config.blogMeta.cardImage}
      url={`${baseUrl}/notes`}
    />
  </Fragment>
  <Section class="my-16">
    <ContentHeader title={config.texts.notesName} cursor={true} />
    {posts.length > 0 ? (
      <div class="space-y-8">
        {posts.map((post) => (
          <PostSnippet
            title={post.title}
            description={post.description}
            url={post.url}
            tags={post.tags}
            published={post.published}
            updated={post.updated}
          />
        ))}
      </div>
    ) : (
      <p>{config.texts.noPosts}</p>
    )}
  </Section>
</Layout