---
import PostSnippet from "../../components/PostSnippet.astro";
const baseUrl = import.meta.env.BASE_URL;
const { contentType, posts, tag } = Astro.props;
type Post = {
  title: string;
  description?: string;
  url: string;
  tags?: string[];
  published?: Date;
  updated?: Date;
};
---

<div class="space-y-0 mb-20">
  <div class="flex flex-col justify-between items-left pb-5">
    <h2 class="text-3xl sm:text-3xl font-display theme-text underline">{contentType}</h2>
    <!-- <hr class="w-full border-t border-gray-300 dark:border-gray-600 my-1" /> -->
  </div>
  
  <div class="space-y-6">
    {posts.map((post: Post) => (
      <PostSnippet
        title={post.title}
        description={post.description || ""}
        url={post.url}
        tags={post.tags || []}
        published={post.published}
        updated={post.updated}
      />
    ))}
  </div>
</div>