---
// import { experience } from "../../cv.config";
import type { Position, Experience } from "../../lib/cv.types";
import SectionHeader from "./SectionHeader.astro";

export type Props = {
  experience: Experience
};

const { experience } = Astro.props;
---

<div class="relative theme-text theme-transition flex flex-col gap-3 mb-8">
  <SectionHeader title={experience.sectionTitle} />
  {experience.positions.map((position: Position) => (
    <div class="flex justify-between items-center ml-4">
      <span><strong>{position.title}</strong>, {position.employer}</span>
      <span>{position.startDate} - {position.endDate}</span>
    </div>
    <div class="ml-6 mb-4">
      <ul class="list-disc list-inside">
        {position.bullets.map(bullet => (
          <li>{bullet}</li>
        ))}
      </ul>
    </div>
  ))}
</div>