---
// import { experience } from "../../cv.config";
import type { Position } from "../../cv.config";
import SectionHeader from "./SectionHeader.astro";
import type { Strengths } from "../../cv.config";

export type Props = {
  strengths: Strengths
};

const { strengths } = Astro.props;
---

<div class="relative theme-text theme-transition flex flex-col gap-3 mb-8">
  <SectionHeader title={strengths.sectionTitle} />
    <div class="ml-4 mb-4">
              <ul class="cv-item-1 list-inside">
          {strengths.strengths.map(bullet => (
            <li>
              {bullet.item}
              {bullet.subItem && (
                <ul class="cv-item-2 list-inside ml-4">
                  {Array.isArray(bullet.subItem) ? (
                    bullet.subItem.map((subItem: string) => (
                      <li>{subItem}</li>
                    ))
                  ) : (
                    <li>
                      {bullet.subItem.item}
                      {bullet.subItem.subItem && Array.isArray(bullet.subItem.subItem) && (
                        <ul class="cv-item-3 list-inside ml-4">
                          {bullet.subItem.subItem.map((subSubItem: string) => (
                            <li>{subSubItem}</li>
                          ))}
                        </ul>
                      )}
                    </li>
                  )}
                </ul>
              )}
            </li>
          ))}
        </ul>
    </div>
</div>