---
import PostSnippet from "../common/PostSnippet.astro";
import Anchor from "../common/Anchor.astro";
import { getFeaturedPosts } from "../../lib/utils";
import { getUrl } from "../../lib/utils";

const recentPosts = (await getFeaturedPosts("blog"))
---

{recentPosts.length > 0 && (
<div class="space-y-0 mb-20">
  <div class="flex justify-between items-center pb-5">
    <h2 class="text-3xl sm:text-4xl font-display theme-text">Recent Posts</h2>
    <Anchor url={getUrl("blog")} additonalClasses="theme-accent hover:theme-text transition-colors hidden md:block" hoverUnderline>
      View all posts →
    </Anchor>
  </div>
  
  <div class="space-y-6">
    {recentPosts.map((post) => (
      <PostSnippet
        title={post.title}
        description={post.description}
        url={post.url}
        tags={post.tags}
        published={post.published}
        updated={post.updated}
      />
    ))}
  </div>
</div>
)}
