---
import { siteConfig } from "../site.config";
import Anchor from "./common/Anchor.astro";
import ThemeToggle from "./ThemeToggle.astro";

const config = siteConfig;
const currentPath = Astro.url.pathname;
const baseUrl = import.meta.env.BASE_URL;
---

<header class="sticky top-0 theme-bg z-10">
  <div class="flex justify-center items-center py-2">
    <div class="flex justify-between items-center w-full max-w-4xl px-6">
      <div class="text-xl font-bold">
        <a href={baseUrl}>{config.personal.name}.</a>
      </div> 

      <nav class="flex gap-6">
          {
            Object.entries(config.menu).map((i) => {
            const isActive = currentPath === `${baseUrl}${i[1]}`;
              return (<a href={`${baseUrl}${i[1]}`} class={`link-hover nav ${isActive ? 'active' : ''}`}>{i[0]}</a>);
            })
          }
      </nav>
    </div>
  </div>
  <hr class="w-full border-t border-gray-300 dark:border-gray-600 my-1" />
</header>