---
import { siteConfig } from "../site.config";
import Anchor from "./common/Anchor.astro";
import ThemeToggle from "./ThemeToggle.astro";

const config = siteConfig;
const currentPath = Astro.url.pathname;
const baseUrl = import.meta.env.BASE_URL;
---

<header class="flex justify-center items-center py-6">
  <div class="flex justify-between items-center w-full max-w-4xl px-6">
    <div class="text-xl font-bold">
      <a href={baseUrl}>{config.personal.name}.</a>
    </div> 

    <nav class="flex gap-6">
        {
          Object.entries(config.menu).map((i) => {
          const isActive = currentPath === i[1];
            return (<a href={`${baseUrl}${i[1]}`} class={`nav-link ${isActive ? 'active' : ''}`}>{i[0]}</a>);
          })
        }
    </nav>
  </div>
</header>