---
import { processDate } from "../lib/utils";
import Anchor from "./common/Anchor.astro";
import Tags from "./common/Tags.astro";

export type Props = {
  title: string;
  description: string;
  url: string;
  tags?: string[];
  published?: Date;
  updated?: Date;
};

const { title, description, url, tags, published, updated } = Astro.props;
---

<div class="relative theme-text theme-transition flex flex-col gap-3 mb-8">
  <div class="flex justify-between items-center">
    <Anchor url={url} class="text-xl">
      {title}
    </Anchor>
    <div class="flex flex-row gap-10 theme-muted">
      <span class="theme-muted theme-transition">
        {published ? processDate(published) : null}
        {updated ? ` [${processDate(updated)}]` : null}
      </span>
    </div>
  </div>
  <p class="">
    {description}
  </p>
  <Tags tags={tags}/>
</div>