---
import Tags from "../tags/Tags.astro";
import Anchor from "./Anchor.astro";

export type Props = {
  title: string;
  publishDate?: string;
  updateDate?: string;
  repoUrl?: string;
  demoUrl?: string;
  tags?: string[];
};

const { title, publishDate, updateDate, repoUrl, demoUrl, tags } = Astro.props; 
---
<div data-pagefind-body class="flex flex-col gap-0 mt-8 mb-16">
  <h1 class="text-3xl sm:text-4xl leading-normal sm:leading-normal font-display">
    {title}
  </h1>
  <div class="flex flex-col gap-1 theme-muted">
    <div class="flex flex-row justify-between theme-muted">
      <span>
        {publishDate}
        {updateDate && `[${updateDate}]`}
      </span>
      <span class="flex flex-row gap-5">
        {repoUrl ? <Anchor url={repoUrl} external hoverUnmute>GitHub</Anchor> : null}
        {demoUrl ? <Anchor url={demoUrl} external hoverUnmute>Live</Anchor> : null}
      </span>
    </div>
    <Tags tags={tags}/>
  </div>
</div>