---
import Layout from "../../layouts/Layout.astro";
import Section from "../../components/common/Section.astro";
import SEO from "../../components/common/SEO.astro";
import Hero from "../../components/common/Hero.astro";
import Experience from "../../components/cv/Experience.astro"
import Summary from "../../components/cv/Summary.astro"
import Strengths from "../../components/cv/Strengths.astro"
import Education from "../../components/cv/Education.astro"

import { siteConfig } from "../../site.config"
import { experience, otherExperience, strengths } from "../../cv.config";
---

<Layout>
  <Fragment slot="head">
    <SEO configKey="cv" />
  </Fragment>
  <Section class="my-16">
    <Hero 
      title={siteConfig.cvHero.title} 
      subtitle={siteConfig.cvHero.subtitle} 
      image={siteConfig.cvHero.image} 
    />
    <Summary />
    <Strengths strengths={strengths} />
    <Experience experience={experience} />
    <Education/>
    <Experience experience={otherExperience} />
  </Section>
</Layout>