---
import { processDate } from "../lib/utils";
import { siteConfig } from "../site.config";
import type { PostFrontmatter } from "../lib/types";
import Section from "../components/common/Section.astro";
import Prose from "../components/Prose.astro";
import Layout from "./Layout.astro";
import Tags from "../components/tags/Tags.astro";
import SEO from "../components/common/SEO.astro";
import ContentLayoutHeader from "../components/common/ContentLayoutHeader.astro";
import DraftBox from "../components/common/DraftBox.astro";

type Props = { frontmatter: PostFrontmatter };

const { frontmatter } = Astro.props;
const publishDate = processDate(frontmatter.published);
const updateDate = processDate(frontmatter.updated);
const tags = frontmatter.tags;
const config = siteConfig;
const isDev = import.meta.env.DEV;
const isDraft = frontmatter.draft;
---

<Layout>
  <Fragment slot="head">
    <SEO configKey="blog" />
  </Fragment>
  <Section class="pt-8">
    {isDev && isDraft && <DraftBox />}
    <ContentLayoutHeader 
      title={frontmatter.title} 
      tags={tags} 
      publishDate={publishDate} 
      updateDate={updateDate} 
    />
    <Prose>
      <slot />
    </Prose>
    <p class="pt-8">- {config.personal.name}</p>
  </Section>
</Layout>