---
import { processDate } from "../lib/utils";
import { siteConfig } from "../site.config";
import type { PostFrontmatter } from "../lib/types";
import Section from "../components/common/Section.astro";
import Prose from "../components/Prose.astro";
import Layout from "./Layout.astro";
import Tags from "../components/tags/Tags.astro";
import SEO from "../components/common/SEO.astro";
import ContentHeader from "../components/common/ContentHeader.astro";

type Props = { frontmatter: PostFrontmatter };

const { frontmatter } = Astro.props;
const publishDate = processDate(frontmatter.published);
const updateDate = processDate(frontmatter.updated);
const tags = frontmatter.tags;
const config = siteConfig;
const baseUrl = import.meta.env.BASE_URL;
---

<Layout>
  <Fragment slot="head">
    <SEO
      title={frontmatter.title}
      titleSuffix={config.personal.name}
      description={frontmatter.description}
      longDescription={frontmatter.longDescription}
      keywords={frontmatter.tags}
      cardImage={frontmatter.cardImage}
      url={`${baseUrl}/blog/${frontmatter.slug}`}
    />
  </Fragment>
  <Section class="pt-8">
    <div data-pagefind-body class="flex flex-col gap-0 mt-8 mb-16">
      <ContentHeader title={frontmatter.title} cursor={true} />
      <div class="flex flex-col gap-1 theme-muted">
        <div class="flex flex-row gap-10 theme-muted">
          <span>
            {publishDate}
            {updateDate && `[${updateDate}]`}
          </span>
        </div>
        <Tags tags={tags}/>
      </div>
    </div>
    <Prose>
      <slot />
    </Prose>
    <p class="pt-8">- {config.personal.name}</p>
  </Section>
</Layout>