---
import { processDate, getBaseUrl } from "../lib/utils";
import { siteConfig } from "../site.config";
import type { PostFrontmatter } from "../lib/types";
import Section from "../components/common/Section.astro";
import Prose from "../components/Prose.astro";
import Layout from "./Layout.astro";
import Tags from "../components/common/Tags.astro";

type Props = { frontmatter: PostFrontmatter };

const { frontmatter } = Astro.props;
const publishDate = processDate(frontmatter.published);
const updateDate = processDate(frontmatter.updated);
const tags = frontmatter.tags;
const config = siteConfig;
const baseUrl = await getBaseUrl()
---

<Layout>
  <Fragment slot="head">
    <title>{`${frontmatter.title} • ${config.personal.name}`}</title>
    <meta
      name="description"
      content={frontmatter.longDescription ?? frontmatter.description}
    />
    <meta
      property="og:title"
      content={`${frontmatter.title} • ${config.personal.name}`}
    />
    <meta property="og:description" content={frontmatter.description} />
    {
      frontmatter.tags && (
        <meta name="keywords" content={frontmatter.tags.join(", ")} />
      )
    }
    {
      frontmatter.cardImage && (
        <meta property="og:image" content={frontmatter.cardImage} />
      )
    }
    <meta
      property="og:url"
      content={`${baseUrl}/blog/${frontmatter.slug}`}
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content={`${frontmatter.title} • ${config.personal.name}`}
    />
    <meta name="twitter:description" content={frontmatter.description} />
    {
      frontmatter.cardImage && (
        <meta name="twitter:image" content={frontmatter.cardImage} />
      )
    }
    <meta http-equiv="content-language" content="en" />
    <meta name="language" content="English" />
    <link
      rel="canonical"
      href={`${baseUrl}/blog/${frontmatter.slug}`}
    />
  </Fragment>
  <Section class="pt-8">
    <div class="flex flex-col gap-0 mt-8 mb-16">
      <h1 class="text-3xl sm:text-4xl leading-normal sm:leading-normal font-display">
        {frontmatter.title}
      </h1>
      <div class="flex flex-col gap-1 theme-muted">
        <div class="flex flex-row gap-10 theme-muted">
          <span>
            {publishDate}
            {updateDate && `[${updateDate}]`}
          </span>
        </div>
        <Tags tags={tags}/>
      </div>
    </div>
    <Prose>
      <slot />
    </Prose>
    <p class="pt-8">- {config.personal.name}</p>
  </Section>
</Layout>