---
import { processDate } from "../lib/utils";
import type { PostFrontmatter } from "../lib/types";
import Section from "../components/common/Section.astro";
import Prose from "../components/common/Prose.astro";
import Layout from "./Layout.astro";
import { siteConfig } from "../site.config";
import SEO from "../components/common/SEO.astro";
import ContentLayoutHeader from "../components/common/ContentLayoutHeader.astro";
import DraftBox from "../components/common/DraftBox.astro";
import TableOfContents from "../components/common/TableOfContents.astro";
import type { MarkdownHeading } from "astro";

type Props = { frontmatter: PostFrontmatter; headings?: MarkdownHeading[] };

const { frontmatter, headings } = Astro.props;
const publishDate = processDate(frontmatter.published);
const updateDate = processDate(frontmatter.updated);
const tags = frontmatter.tags;
const config = siteConfig;
const isDev = import.meta.env.DEV;
const isDraft = frontmatter.draft;
---

<Layout>
  <Fragment slot="head">
    <SEO configKey="project" />
  </Fragment>
  <div class="mx-auto max-w-6xl">
    <div class="flex flex-row gap-8">
      <div class="flex-1 min-w-0">
        <Section class="pt-8">
          {isDev && isDraft && <DraftBox />}
          <ContentLayoutHeader 
            title={frontmatter.title} 
            tags={tags} 
            publishDate={publishDate} 
            updateDate={updateDate} 
          />
          <Prose class="max-w-none">
            <slot />
          </Prose>
          <p class="pt-8">- {config.personal.name}</p>
        </Section>
      </div>
      <div class="hidden xl:block w-80 flex-shrink-0">
        <TableOfContents headings={headings}/>
      </div>
    </div>
  </div>
</Layout>
